<html>
  <head>
    <title>Sign UP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<p>Welcome to HomePage,Supervisor</p>
	<%= alert %>
	<table width="100%" border=1>
	<tr><td><a href="insertQuestionPage">Add New Questions</a></td><td><a href="calculateAnalytics">See Quiz Analystics</a></td></tr>
	
	</table>
  </body>
</html>	
