<html>
  <head>
    <title>Sign UP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<form name="quizAnalytics" action="/calculateAnalytics" method="POST">
	<p>Responses Percentage</p>

	<table width="100%" border=1>
	<p> On server side , Method(app.get('/calculateAnalytics',function(req,res)) is working fine getting indvidual Percentage of Responses But faced challenge on Displaying Here </p>
	
   
	</table>
	</form>
  </body>
</html>	
